/* Works on Firefox */
:root {
  --c1: #87CBB9;
  --c2: #577D86;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--c2) var(--c1);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--c1);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--c2);
    border-radius: 20px;
    border: 3px solid var(--c1);
  }